
body {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

ul,
a {
  list-style: none;
  text-decoration: none;
}

a {
  color: black;
}

h1, h2, h3, h4, p, ul, option {
  padding: 0px;
  margin: 0px;
}

.contador-productos {
  font-size: small;
}

.titulo {
  color: rgb(160, 157, 157);
  font-weight: 500
}

.error-img {
  width: 400px;
  height: 400px;
}

.carrito-logo{
  cursor:pointer;
  transition: all 0.8s ease-out;
}

.carrito-logo:hover {
  transform: scale(1.2);
  transition: all 0.8s ease-out;
}


.loader {
  
  color: #8f1b1b;
  font-size: 45px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  position: relative;
  text-indent: -9999em;
  top: 250px;
  animation: mulShdSpin 1.3s infinite linear;
  transform: translateZ(0);
}

@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 
    2em -2em 0 0em, 3em 0 0 -1em, 
    2em 2em 0 -1em, 0 3em 0 -1em, 
    -2em 2em 0 -1em, -3em 0 0 -1em, 
    -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 
    3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, 
    -2em 2em 0 -1em, -3em 0 0 -1em, 
    -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 
    2em -2em 0 0, 3em 0 0 0.2em, 
    2em 2em 0 0, 0 3em 0 -1em, 
    -2em 2em 0 -1em, -3em 0 0 -1em, 
    -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
     3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, 
     -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
     3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, 
     -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
     3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, 
     -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 
    3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, 
    -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 
    3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, 
    -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
  
.cascading-right {
  margin-right: -50px;
}

@media (max-width: 991.98px) {
  .cascading-right {
    margin-right: 0;
  }
}

.add-product-image {
  width: 150px;
  height: 150px;
  border-radius: 5px;
}

.new-product-image {
  width:  100%
}

.ocultar-transition {
  opacity: 0;
  transition: all 1s;
  overflow: hidden;
  max-height: 0;
}

/* No entiendo bien como funciona esto */
.ocultar-transition-active {
  opacity: 1;
  transition: all 1s;
  max-height: 9999999px;
}

.icon {
  width: 50px;
  height: 50px;
}

.img-menu-admin {
  width: 18vw;
}

@media (max-width: 1000px) {
  .img-menu-admin {
    width: 15vw;
  }
}

@media (max-width: 800px) {
  .lista-admin-menu {
    flex-direction: column !important;
  }

  .img-menu-admin {
    width: 25vw;
  }
}